@model IEnumerable<CampDios.Modelo.Tipo_Grupo>

@{
    ViewBag.Title = "Tipos de grupos";
}

<h2>Tipos de grupos</h2>

<p>
    <a href="@Url.Action("Create","Tipo_Grupo")" class="btn btn-primary"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Nuevo tipo de grupo</a>&nbsp;
    <a href="@Url.Action("Index","Grupoes")" class="btn btn-warning"><i class="fa fa-users" aria-hidden="true"></i> Grupos de pacto</a>&nbsp;
    <a href="@Url.Action("Index","Programacion_de_Reunione")" class="btn btn-default"><i class="fa fa-calendar fa-lg" aria-hidden="true"></i> Horarios</a>&nbsp;
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
        <th>Opciones</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>@Html.ActionLink("Editar", "Edit", new { id=item.IdTipoGrupo }, new { @class = "btn btn-success" })</td>
        <td>@Html.ActionLink("Detalles", "Details", new { id = item.IdTipoGrupo }, new { @class = "btn btn-info" })</td>
        <td>@Html.ActionLink("Borrar", "Delete", new { id = item.IdTipoGrupo }, new { @class = "btn btn-danger" })</td>

    </tr>
}

</table>
