@model CampDios.Modelo.Comunidad

@{
    ViewBag.Title = "Detalles comunidad";
}

<h2>Detalles de la comunidad</h2>

<div> 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            Lider de comunidad
           <!--@Html.DisplayNameFor(model => model.Miembro.Nombres)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miembro.Nombres)
        </dd>

        <dt>
            Zona
            <!--@Html.DisplayNameFor(model => model.Zona.Nombre)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zona.Nombre)
        </dd>

    </dl>
</div> 
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdComunidad }, new { @class = "btn btn-success" }) &nbsp;&nbsp;
    <a href="@Url.Action("Index","Comunidads")" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Volver al listado
    </a>
</p>
