@model CampDios.Modelo.Miembro

@{
    ViewBag.Title = "Detallaes de miembro";
}

<h2>Detalles de miembro</h2>

<div>
    <h4>Miembro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DUI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DUI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacitacione.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacitacione.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiderasgoCorporativo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiderasgoCorporativo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiderasgoPastoral.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiderasgoPastoral.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesion.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesion.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdMiembro }, new { @class="btn btn-success"}) &nbsp;&nbsp;
    <a href="@Url.Action("Index","Miembroes")" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Volver al listado
    </a>
</p>
