@model IEnumerable<CampDios.Modelo.Miembro>

@{
    ViewBag.Title = "Miembros";
}

<h2>Miembros</h2>

<p>
    <a href="@Url.Action("Create","Miembroes")" class="btn btn-primary"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Nuevo miembro</a>&nbsp;
    <a href="@Url.Action("Index","HistoriaEspiritual")" class="btn btn-default"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Historial espiritual</a>&nbsp;
</p>
<div style="overflow:auto;">
        <table class="table table-responsive">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DUI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NIT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoCivil)
                </th>
                <th>
                    Capacitación
                    <!--@Html.DisplayNameFor(model => model.Capacitacione.Nombre)-->
                </th>
                <th>
                    Liderazgo corporativo
                   <!--@Html.DisplayNameFor(model => model.LiderasgoCorporativo.Nombre)--> 
                </th>
                <th>
                    Liderazgo pastoral
                    <!--@Html.DisplayNameFor(model => model.LiderasgoPastoral.Nombre)-->
                </th>
                <th>
                    Profesión
                   <!--@Html.DisplayNameFor(model => model.Profesion.Descripcion)-->
                </th>
                <th></th>
                <th>Opciones</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DUI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NIT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoCivil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacitacione.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LiderasgoCorporativo.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LiderasgoPastoral.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profesion.Descripcion)
                    </td>
                    <td>@Html.ActionLink("Editar", "Edit",new { id = item.IdMiembro}, new{@class = "btn btn-success"})</td>
                    <td>@Html.ActionLink("Detalles", "Details", null, new { id = item.IdMiembro}, new { @class = "btn btn-info" })</td>
                    <td>@Html.ActionLink("Borrar", "Delete", null, new { id = item.IdMiembro},new { @class = "btn btn-danger" })</td>
                    
                </tr>
            }

        </table> 
</div>