@model CampDios.Modelo.Grupo

@{
    ViewBag.Title = "Detalles del grupo";
}

<h2>Detalles del grupo</h2>

<div> 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            Comunidad
            <!--@Html.DisplayNameFor(model => model.Comunidad.Nombre)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comunidad.Nombre)
        </dd>

        <dt>
            Lider de grupo
            <!--@Html.DisplayNameFor(model => model.Miembro.Nombres)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miembro.Nombres)
        </dd>

        <dt>
            Tipo de grupo
            <!--@Html.DisplayNameFor(model => model.Tipo_Grupo.Descripcion)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Grupo.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdGrupo }, new { @class = "btn btn-success" }) &nbsp;&nbsp; 
    <a href="@Url.Action("Index","Grupoes")" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Volver al listado
    </a>
</p>
