@model CampDios.Modelo.HistoriaEspiritual

@{
    ViewBag.Title = "Borrar historia espiritual";
}

<h2>Borrar historia espiritual</h2>

<h3>¿Esta seguro que desea borrar esta historia espiritual?</h3>
<div> 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Miembro
            <!--@Html.DisplayNameFor(model => model.Miembro.Nombres)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miembro.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaConversion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaConversion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaBautismo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaBautismo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IglesiaBautismo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IglesiaBautismo)
        </dd> 
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> &nbsp;&nbsp;
            <a href="@Url.Action("Index","HistoriaEspiritual")" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Volver al listado
            </a>
        </div>
    }
</div>
